/* -----------TYPOGRAPHY & COLORS / VARIABLES----------- */
:root {
    --dq-purple: #461368;
    --dq-purple-alt: #511361;
    --dq-cyan: #00FFC8;
    --dq-gold: #FFD000;
    --dq-gold-alt: #FFD700;
    --call-to-action: #d22d2d;
    --bg: #EBE7E3;
    --text: #212529;
    --white-color: white;
    --x-small-font: 1.5rem;
    --small-font: 2rem;
    --medium-font: 2.5rem;
    --large-font: 3.5rem;
    --x-large-font: 4rem;
    --xx-large-font: 6rem;
    --radius-pill: 5rem;
    --radius-card: 1rem;
    --container-gaps: 7.5rem;
    --notebook-bg: url("https://www.textures4photoshop.com/tex/thumbs/seamless-notebook-paper-texture-free-thumb36.jpg");
}

/*--------------GLOBAL RESET & BASE STYLES------------ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: "Roboto", sans-serif;
    text-align: center;
}

/* ------Typography (Headings, Paragraphs, Labels)------- */
h1 {
    font-size: var(--xx-large-font);
    text-transform: capitalize;
}

h2 {
    margin-bottom: 3rem;
    font-size: var(--large-font);
}

p {
    font-size: var(--medium-font);
    font-weight: 400;
    line-height: 1.5;
}

label {
    font-size: var(--small-font);
}

/* ---------Anchors & Lists------------ */
a {
    text-decoration: none;
}

a:hover,
a:focus {
    color: var(--dq-gold-alt);
    cursor: pointer;
}

a:active {
    color: var(--white-color);
    cursor: pointer;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

li {
    margin: 1rem;
}

/* --------Buttons---------- */
.btn {
    display: block;
    width: max-content;
    max-width: 100%;
    margin: 0 auto 1rem;
    padding: 1.5rem 3rem;
    border: 2px solid var(--dq-gold);
    border-radius: var(--radius-pill);
    font-size: var(--small-font);
    letter-spacing: 0.25rem;
    text-decoration: none;
}

.btn-primary {
    background-color: var(--dq-purple);
    color: var(--dq-cyan);
}

.btn-primary:hover {
    background-color: var(--dq-purple-alt);
    color: var(--dq-gold-alt);
}

.btn-primary:active {
    color: var(--white-color);
}

/*--------------LAYOUT & UNIVERSAL CLASSES------------ */
.container {
    max-width: 100%;
    margin: 0 auto;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -----------NAVIGATION----------- */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    margin-bottom: 5rem;
}

.nav-bar {
    padding: 0.5rem 2rem;
    border: 2px solid var(--dq-gold);
    border-radius: 1.5rem;
    background-color: var(--dq-purple);
    color: var(--dq-cyan);
    font-size: var(--small-font);
    letter-spacing: 0.25rem;
}

.nav-bar-links {
    color: var(--dq-cyan);
    font-size: var(--x-small-font);
}

/* --------LOGOS & IMAGES-----*/
.DQ-logo {
    width: 72rem;
    max-width: 100%;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.social-icons {
    width: 2rem;
    height: 2rem;
}

.glove-up {
    width: 4.5rem;
    margin-right: 1rem;
}

.go-up {
    width: 12rem;
    padding-bottom: 1rem;
}

.glove-back {
    width: 5rem;
    margin-right: 1rem;
}

.go-back {
    width: 15rem;
    padding-bottom: 0.5rem;
}

/*--------------FOOTER------------ */
.footer-container {
    margin-top: 5rem;
}

.go-up-back-divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.thank-you-text {
    font-size: var(--x-small-font);
    font-style: italic;
}


/*------Index Exclusive Styles-----*/

.homepage-main {
    background: url("https://www.disneytouristblog.com/wp-content/uploads/2015/08/disneyquest-disney-world-downtown-140.jpg") center center / cover no-repeat fixed;
}

.walt-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -2rem 1rem 2rem 1rem;
    padding: 2.5rem;
    font-size: var(--small-font);
    font-weight: 500;
    font-style: italic;
    letter-spacing: 0.3rem;
    background-color: var(--dq-purple);
    color: var(--white-color);
    max-width: fit-content;
    border-radius: var(--radius-pill);
    border: 1px solid var(--dq-gold);
}

.homepage-h2s {
    width: max-content;
    max-width: 100%;
    margin: 5rem auto;
    padding: 1.5rem;
    border: 2px solid var(--dq-gold);
    border-radius: var(--radius-card);
    background-color: var(--dq-purple);
    color: var(--white-color);
    font-size: var(--large-font);
    text-transform: capitalize;
    letter-spacing: 0.25rem;
}

/*------Attraction Pages Exclusive Styles-----*/

.attractions-bg {
    background: url("https://disneyinsights.com/wp-content/uploads/2017/07/Carpet-1.jpg") center center / cover no-repeat fixed;
}

.attraction-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: var(--container-gaps);
    margin-bottom: var(--container-gaps);
}

article {
    width: 65rem;
    padding: 3rem;
    border: 1rem double var(--dq-purple);
    background-image: var(--notebook-bg);
}

.attractions-h1 {
    max-width: fit-content;
    margin: auto;
    margin-bottom: 5rem;
    padding: 1rem 2rem;
    background-image: var(--notebook-bg);
    border: 1rem double var(--dq-purple);
}

.attraction-pics-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    margin-top: var(--container-gaps);
    margin-bottom: var(--container-gaps);
}

/* Figures & Captions */

.figure-captions {
    padding: 2.5rem 0.5rem;
    border: var(--dq-purple) solid 2px;
    font-size: var(--x-small-font);
    font-weight: 800;
    letter-spacing: 0.2rem;
    background-image: var(--notebook-bg);
}

.social-figures-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: var(--container-gaps);
}

/* Interaction Elements (Fun Meter & Call to Action) */
.paragraph-links {
    color: var(--dq-purple);
    font-size: var(--medium-font);
}

.fun-meter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    margin: 5rem auto 0;
    border: 2px solid var(--dq-gold);
    border-radius: 50%;
    background-color: var(--dq-purple);
    color: var(--white-color);
    font-size: var(--medium-font);
    letter-spacing: 0.15rem;
    text-align: center;
}

.call-to-action {
    width: 30rem;
    height: 20rem;
    margin: 5rem 0 0 3rem;
    color: var(--call-to-action);
    font-size: var(--small-font);
    font-weight: 1000;
}


/*------Contact Us Exclusive Classes----*/
.contact-us-form {
    display: inline-block;
    margin: 5rem auto;
    padding: 4rem;
    border: 5px solid var(--dq-gold);
    border-radius: var(--radius-pill);
    background-color: var(--dq-purple);
    color: var(--white-color);
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
}

.contact-us {
    width: 30rem;
}

/* Login Form (Commented out in HTML, organized here just in case) */
.log-in {
    display: inline-block;
    padding: 2rem;
    border: 3px double var(--dq-gold);
    border-radius: var(--radius-card);
    background-color: var(--dq-purple);
    color: var(--white-color);
    font-size: var(--x-small-font);
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 0.1rem;
}