/*

-------COLORS-------
Primary
EE747E- Light Crimson
E63946- Crimson
A12831- Dark Crimson

Secondary
8FB0C4- Light Jeans
457B9D- Jeans
294A5E- Dark Jeans

Tertiary
C2E5E7- Light Sky
A8DADC- Sky
76999A- Dark Sky

Grey
617289-Light Night
1D3557-Night
14253D-Dark Night

*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.2;
    color: #1D3557
}

h1 {
    font-size: 62px;
    text-align: center;
    letter-spacing: -3.6px;
}

h2,
h3,
h4,
h5 {
    font-size: 40px;
    display: inline-block;
}

h2 {
    text-align: left;
}

h3 {
    text-align: center;
}

h4 {
    text-align: right;
    color: 588157;
}

h5 {
    display: block;
    text-align: center;
}

p {
    font-weight: 400;
    font-size: 16px;
}

p {
    text-align: center;
    letter-spacing: 8px;
    line-height: 1.6;
    color: #14253D
}

a {
    text-align: center;
    background-color: aquamarine;
    padding: 20px 40px;
}

ul {
    line-height: 1.6;
    list-style: square url(https://css-plus.com/static/807132d43a089b5374c0b1a24160eb98/a2c25/featured.png) inside;
}

li {
    height: 200px;
    color: green;
    font-size: 25px;
    font-weight: 300;
    text-decoration: underline blue dotted;
}

dt {
    color: purple;
    font-size: 50px;
    font-weight: 400;
}

h1~p {
    text-decoration: underline;
}

/*--------------COMPONENTS------------ */

/*
a:link {
    color: blue
}

a:visited {
    color: red
}
    */

a:hover {
    color: green;
}

a:active {
    color: yellow
}

li:first-child {
    color: red;
}

li:nth-child(3) {
    color: green;
}

li:last-child {
    color: blue
}

p::first-letter {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}

p::selection {
    color: blue;
}

h1::after {
    content: 'Beta';
    font-size: 30px;
    color: purple;
}

#three-kingdoms {
    color: purple;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.article p {
    color: green;
    font-size: 30px;
}

.article>p {
    color: red;
    background-color: aquamarine;
    font-size: 30px;
}

.div-dif {
    width: 250px;
    height: 250px;
    background-color: salmon;
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 10px;
    border: 10px double #14253D
}

.div-dif2 {
    width: 250px;
    height: 250px;
    background-color: salmon;
    border-radius: 125px;
}

.btn-filled {
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 20px 40px;
    border: 10px solid blue;
}

.btn-outline {
    text-decoration: none;
    background-color: white;
    color: blue;
    padding: 20px 40px;
    border: 10px solid blue;
}

.box-1 {
    width: 800px;
    height: 400px;
    padding: 50px;
    border: 10px solid black;
    background: plum;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.box-2 {
    width: 800px;
    height: 400px;
    padding: 50px;
    border: 10px solid black;
    background: plum;
    box-sizing: border-box;
    margin: 20px;
}

.inline-element {
    background-color: lightgreen;
    height: 20px;
    width: 20px;
    padding: 20px 20px;
    border: 20px solid red;
    margin: 20px 20px;
    display: inline-block;
}

.parent {
    height: 250px;
    width: 250px;
    background-color: lightblue;
    border-radius: 500px;
}

.child {
    height: 50%;
    width: 50%;
    background-color: salmon;
    border-radius: 500px;
}

.tldr-dynasty {
    width: 1000px;
    max-height: 300px;
    background-color: salmon;
    overflow: auto;
}

.tldr-threekingdoms {
    width: 1000px;
    min-height: 600px;
    background-color: salmon;
}

.zhao-yun {
    width: calc(100%/3 - 50px);
}

.zhao-yun:hover {
    transform: skew(20deg, 20deg);
}

.flex-container {
    width: 800px;
    height: 800px;
    background-color: lightgray;
    display: flex;
    color: white;
    font-size: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-item-1 {
    width: 200px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1px;
}

.flex-item-2 {
    width: 50px;
    height: 300px;
    background-color: purple;
}

.flex-item-3 {
    width: 100px;
    height: 150px;
    background-color: red;
}

.flex-item-4 {
    width: 150px;
    height: 50px;
    background-color: green;
}

.zhao-row {
    display: flex;
    gap: 5px;
}

.flex-container2 {
    width: 800px;
    height: 800px;
    background-color: lightgray;
    display: flex;
    color: white;
    font-size: 30px;
}

.flex-item-1 {
    width: 200px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1px;
}

.flex-item-2 {
    width: 50px;
    height: 300px;
    background-color: purple;
}

.flex-item-3 {
    width: 100px;
    height: 150px;
    background-color: red;
}

.flex-item-4 {
    width: 150px;
    height: 50px;
    background-color: green;
}

.div-grid-container {
    font-size: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr 3fr 4fr;
    height: 1000px;
    width: 400px;
    row-gap: 20px;
    column-gap: 10px;
    justify-items: center;
    align-items: center;
    background-color: #14253D;
}

.grid-item-1 {
    background-color: red;
}

.grid-item-2 {
    background-color: blue;
}

.grid-item-3 {
    background-color: yellow;
    justify-self: start;
    align-self: start;
}

.grid-item-4 {
    background-color: green;
    grid-row: 1/2;
}

.grid-item-5 {
    background-color: purple;
}

.grid-item-6 {
    background-color: orange;
    grid-column: 1/4;
}

.grid-item-7 {
    background-color: pink;
}

.grid-item-8 {
    background-color: grey;
}

.position-container {
    height: 1000px;
    width: 100%;
    background-color: #14253D;
    position: relative;
}

.relative1 {
    height: 100px;
    width: 100px;
    background-color: antiquewhite;
    position: relative;
    top: 30px;
    left: 40px;
}

.absolute1 {
    height: 200px;
    width: 200px;
    background-color: chartreuse;
    position: absolute;
    right: 0;
    bottom: 0;
}

.fixed1 {
    height: 100px;
    width: 500px;
    background-color: firebrick;
    position: fixed;
    right: 50%;
    left: 50%;
    bottom: 0;
    text-align: center;
}

.sticky1 {
    height: 100px;
    width: 500px;
    background-color: mediumpurple;
    position: sticky;
    top: 0;
}

.shadow {
    box-shadow: 5px 5px 10px gray;
    margin: 50px auto;
}